
#container{    
    position: relative;
    width: 100%;
	height: 100%;
}

.panel{
    position: relative;    
	height: 100%;
    width: 100%;
}

table
{
table-layout: fixed;
width:100%;
height:100%;
}